/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
    width:100%;
    padding:100px;
    margin: auto;  
} */

/* * {
    box-sizing: border-box;
}




Add padding to containers
.container {
    padding: 16px;
    background-color: white;
} */

/* Full-width input fields */
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.resp_code
{
margin:5px 10px 10px 300px;
padding:10px 20px 10px 20px;
color:#333;
background:#f8f8f8;
overflow:auto;width:50%;
}

.frms
{
	margin:0 auto;
	width:100%;
	padding:10px;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
	-o-border-radius:.3em;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333;
	font-size:.9em;
	line-height:1.2em;
}

.frms select
{
	width:99%;
	background:#fff;
	border:#ddd 1px solid;
	border-radius:.35em;
	-moz-border-radius:.35em;
	-webkit-border-radius:.35em;
	-o-border-radius:.35em;
	padding:0 .5%;
	margin-top:5px;
	margin-bottom:15px;
	height:35px;
}
.frms select:hover
{
	box-shadow:#dae1e5 0px 0px 5px;
	-moz-box-shadow:#dae1e5 0px 0px 5px;
	-webkit-box-shadow:#dae1e5 0px 0px 5px;
	-o-box-shadow:#dae1e5 0px 0px 5px;
}
.frms select:focus
{
	-webkit-box-shadow: inset 7px 4px 7px -7px rgba(0,0,0,0.42);
-moz-box-shadow: inset 7px 4px 7px -7px rgba(0,0,0,0.42);
box-shadow: inset 7px 4px 7px -7px rgba(0,0,0,0.42);
	
	border:#9d9983 1px solid;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.row {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.row:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}