<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="com.vehicle">
	</context:component-scan>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/</value>
		</property>

		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- setting maximum upload size -->
		<property name="maxUploadSize" value="100000" />

	</bean>
	
	
	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@192.168.100.25:1521:xe" />
		<property name="username" value="system" />
		<property name="password" value="Newuser123" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"></property>
	</bean>

	<bean id="pdao" class="com.vehicle.dao.UserDetailDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
		<bean id="vdao" class="com.vehicle.dao.VehicleDetailDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
		<bean id="idao" class="com.vehicle.dao.IncomeDetailDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
		 <bean id="ldao" class="com.vehicle.dao.LoanOfferDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean> 
		<bean id="iddao" class="com.vehicle.dao.IdentityDetailDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="uldao" class="com.vehicle.dao.UserLoginDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean> 
	<bean id="sdao" class="com.vehicle.dao.SuggetionDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean> 
	<bean id="fpdao" class="com.vehicle.dao.ForgotPasswordDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean> 
</beans>
